// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'components/main-bar.scss';
@import 'components/main-nav.scss';
@import 'components/main-footer.scss';

// Then add additional custom code here
.user-profile-menu {
    margin-left: 10vw;
    margin-top: 1vw;
    width: 250px;
}

@include media-breakpoint-down(lg) {
    .user-profile-menu {
        margin-left: 0;
    }
}

@include media-breakpoint-down(md) {
    .filter-col-anime {
        margin-bottom: $spacer * 0.5;
    }

    .filter-col-input-buttons {
        margin-bottom: $spacer * 0.5;
        margin-top: $spacer * 0.5;
    }

    .filter-col-color {
        margin-bottom: $spacer * 0.5;
    }
}
