// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'components/main-bar.scss';
@import 'components/main-nav.scss';
@import 'components/main-footer.scss';

// Then add additional custom code here
.button-order {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    width: fit-content;
    text-align: left;
    padding: 10px 14px;
    margin-right: 2px;
    &:hover {
        background-color: #e8e8e8;
    }
    &:active,
    &:focus {
        background-color: $primary;
        color: white;
    }
}
