// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

// Main Bar
.prof-cart-link {
    @extend .row;
    margin-right: 10vw;
    column-gap: 3vw;
}

.main-logo {
    @extend .navbar-brand;
    margin-left: 10vw;
}

// Navigation Bar
.list-group-item {
    background-color: $primary;
    border: none;
    border-right: 2px black solid;
    @extend .rounded-0;
}

.list-group-item-start {
    border-left: 2px black solid;
}

.nav-link-product-type {
    @extend .nav-link;
    color: white;
    :hover {
        color: black;
    }
}

// Footer
.footer {
    @extend .mt-5;
    color: gray;
}

.left-footer {
    @extend .col-md-6, .mb-md-0;
    text-align: right;
}

.footer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-color: $gray-200;
}

@include media-breakpoint-down(lg) {
    .prof-cart-link {
        margin-right: 5vw;
        column-gap: 3vw;
    }

    .main-logo {
        margin-left: 0vw;
    }
}

@include media-breakpoint-down(md) {
    .main-logo {
        order: 1;
    }

    .prof-cart-link {
        order: 2;
    }

    .main-search {
        order: 3;
        width: 100%;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .left-footer {
        text-align: center;
        margin-bottom: 0;
    }

    .footer {
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .main-logo {
        width: 50%;
    }

    .prof-cart-link {
        img {
            width: 80%;
            height: auto;
        }
    }

    .list-group-item {
        width: 35%;
        align-self: flex-end;
        border-right: none;
        border-bottom: 1px black solid;
        text-align: end;
    }

    .list-group-item-start {
        border-left: none;
        border-top: 1px black solid;
    }
}
