.nav {
    background: #3da1ff;
    width: 100vw;
}

.list-group-item {
    background-color: #3da1ff;
    color: white;
    border: none;
    :hover {
        color: #000000;
    }
}

.site-nav {
    color: #fff;
}
