.product-container {
    @extend .container-fluid, .mt-3;
    padding-left: 11vw;
    padding-right: 11vw;
}

.product-row {
    @extend .row, .justify-content-center, .align-items-center, .p-2, .bg-light;
    border: 1px solid $secondary;
}

.product-link {
    @extend .col, .row;
    justify-content: center;
}

.col-image {
    @extend .col-2;
    width: 150px;
}

.col-text {
    @extend .col;
    align-self: center;
}

.col-piece-amount {
    @extend .d-flex, .justify-content-center;
    width: 150px;
}

.col-price {
    @extend .col-2;
    text-align: center;
}

.col-delete {
    @extend .col-1;
    text-align: center;
}

.inc-dec-button {
    @extend .btn, .btn-primary, .btn-sm, .rounded-0;
    background-color: black;
    border-color: black;
    width: 30px;
    &:hover {
        background-color: $danger;
        border-color: $danger;
    }
}

.order-button-container {
    @extend .d-flex, .justify-content-end;
    padding-left: 11vw;
    padding-right: 11vw;
    margin-top: 3vh;
}

.order-button {
    @extend .btn, .btn-primary;
}

@include media-breakpoint-down(md) {
    .col-image {
        width: 100%;
    }

    .col-text {
        flex-basis: auto;
        width: 100%;
        text-align: center;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }

    .col-price {
        text-align: center;
    }
}
