.user-profile-orders {
    width: 600px;
}

.user-profile-password {
    width: 400px;
}

@include media-breakpoint-down(md) {
    .user-profile-orders {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .user-profile-password {
        width: 100%;
    }
}
